@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root {
  --primary-color: #3565f2;
  --white: #fff;
  --text-dark: #000;
  --second-bg: #ebeffd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  margin: auto;
  padding: 1rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--second-bg);
}

.header_logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header_links {
  list-style: none;
  display: flex;
  align-items: center;
  color: var(--text-dark);
  font-weight: 600;
  gap: 2rem;
}

.mobile_menu_icon {
  display: none; /* Hide the icon by default */
  cursor: pointer;
}

.bar {
  display: block;
  width: 1.5rem;
  height: 0.25rem;
  /* margin: 0.3rem auto; */
  background-color: var(--text-dark);
}
a {
  text-decoration: none;
}

.link a {
  font-weight: 500;
  color: var(--text-light);
}

.link a:hover {
  color: var(--text-dark);
}

.hero_container {
  max-width: 100%;
  height: calc(100vh - 4rem);
  margin: auto;
  padding: 5rem 1rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero_description {
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  margin-top: 1rem;
}
.hero_details {
  align-items: center;
  justify-content: center;
  padding: 5rem 10rem;
}
.hero_header {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--white);
}

.hero_btn {
  padding: 1rem 6rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 3rem;
  cursor: pointer;
  margin-top: 2rem;
}

.hero_img {
  width: 60rem;
  margin-right: 5rem;
  margin-top: 1rem;
}

.featured {
  background-color: var(--second-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.featured_heading {
  margin: 2rem;
}

.img_container img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: 40rem;
}

.about {
  background-color: var(--second-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about_heading {
  margin-top: 4rem;
}

.about_skills {
  font-size: 2rem;
  font-weight: 800;
}

.about_img_container img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: 30rem;
}

.about_description {
  margin-top: 1rem;
  padding: 1rem 10rem;
  font-size: 1.25rem;
}

.social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icons ul {
  list-style: none;
  display: flex;
}

.social_icons li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icons i {
  color: white;
  font-size: 20px;
}

.services {
  background-color: var(--second-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn_tab {
  padding: 1rem 6rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 3rem;
  cursor: pointer;
  margin-top: 2rem;
}

.community {
  max-width: 100%;
  margin: auto;
  padding: 1rem 1rem;
  background-color: var(--second-bg);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.community_details {
  align-items: center;
  justify-content: center;
  padding: 5rem 10rem;
}

.community_header {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--text-dark);
}
.community_description {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
  margin-top: 1rem;
}

.features {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.6;
}

.features i {
  color: var(--text-dark);
  display: flex;
  align-items: center;
}

.features i:before {
  margin-right: 0.65rem;
}

.features span {
  display: inline-block;
  text-transform: lowercase;
}

.features br {
  margin-bottom: 1.25rem;
}

.community_btn {
  padding: 1rem 6rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 3rem;
  cursor: pointer;
  margin-top: 2rem;
}
.community_img {
  width: 60rem;
  margin-right: 5rem;
  margin-top: 1rem;
}

.courses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow flex items to wrap to next line */
  gap: 1.25rem; /* Add some spacing between cards */
  background-color: var(--second-bg);
  padding: 1rem 1rem;
}

.card {
  flex: 1; /* Distribute available space equally among the cards */
  max-width: calc(33.33% - 5rem);
  background-color: var(--white);
  border-radius: 0.65rem;
  box-shadow: 0 0 0.65rem rgba(0, 0, 0, 0.2);
  padding: 1.25rem;
}

.card_img {
  width: 100%;
  height: auto;
  border-radius: 0.65rem;
  margin-bottom: 1rem;
}

.card_heading {
  font-size: 1.5rem;
  margin-bottom: 0.65rem;
  text-align: left;
}

.card_details {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
}

.card_btn {
  padding: 1rem 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 3rem;
  cursor: pointer;
  margin-top: 2rem;
  cursor: pointer;
  text-align: center;
}

.consultation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-bg);
  padding: 1rem 1rem;
  gap: 1.25rem;
}

.consultation_card {
  flex: 1; /* Distribute available space equally among the cards */
  max-width: calc(33.33% - 5rem);
  background-color: var(--white);
  border-radius: 0.65rem;
  box-shadow: 0 0 0.65rem rgba(0, 0, 0, 0.2);
  padding: 1.25rem;
}

.consultation_card img {
  border-radius: 50%;
  background-color: var(--second-bg);
  width: 3rem;
}

.card_heading {
  font-size: 1.5rem;
  margin-bottom: 0.65rem;
  text-align: left;
}

.meet_details {
  display: flex;
  align-items: center; /* Center vertically */
}

.meet_details i,
.meet_details p {
  margin: 1rem; /* Add some spacing between elements */
  font-size: 1rem;
  margin-top: 2rem;
}

.testimonial_details {
  background-color: var(--second-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonial_heading {
  font-size: 1.25rem;
  margin-top: 4rem;
}

.testimonial_subheading {
  font-size: 2rem;
  font-weight: 800;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  background-color: var(--second-bg);
  padding: 1rem 1rem;
  gap: 1.5rem; /* Add some spacing between cards */
  padding-top: 3rem;
}

.testimonial_card {
  flex: 1; /* Distribute available space equally among the cards */
  max-width: calc(33.33% - 5rem);
  background-color: var(--white);
  border-radius: 1.25rem;
  box-shadow: 0 0 0.65rem rgba(0, 0, 0, 0.2);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonial_details {
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.testimonial_card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--second-bg);
  margin: 1rem auto;
}

.card_heading {
  font-size: 1.5rem;
  margin: 0.65rem 0;
  text-align: left;
}

.testimonial_card p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
}

.card_btn {
  padding: 1rem 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 3rem;
  cursor: pointer;
  margin-top: auto; /* Push the button to the bottom */
  width: 100%; /* Make the button full width */
}

.media {
  /* flex: 1;  */
  max-width: 100%;
  background-color: var(--second-bg);
  padding: 1.25rem;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.media_heading {
  margin-top: 4rem;
}

.about_skills {
  font-size: 2rem;
  font-weight: 800;
}
.media img {
  padding: 5rem;
  height: 100%;
  width: 100%;
}

.app {
  background-color: var(--second-bg);
  padding-top: 3rem;
}

.app_link {
  flex: 1;
  max-width: 100%;
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 50% 50% 0 0;
}

.app_link p {
  margin-top: 3rem;
  color: var(--white);
}

.app_link h1 {
  font-size: 2rem;
  margin-top: 2rem;
  color: var(--white);
}

.app_link img {
  margin: 6rem;
  height: 70%;
  width: 65%;
}

.hide {
  display: none;
}

.contact {
  background-color: var(--second-bg);
  padding-bottom: 3rem;
}

.contact_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 3rem;
}

.contact_heading {
  font-size: 1.25rem;
  margin-top: 4rem;
}

.contact_subheading {
  font-size: 2rem;
  font-weight: 800;
}

.contact_all {
  display: flex;
  justify-content: space-around;
}

.contact_details {
  display: flex;
}

.icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #c1dde5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon i {
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

.contact_info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
}

.contact_info p {
  color: gray;
}

.contact_info span {
  font-weight: bolder;
}

footer {
  margin: auto;
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--primary-color);
}

.footer_heading {
  color: var(--white);
  font-size: 3rem;
}

.footer_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_icons ul {
  list-style: none;
  display: flex;
}

.footer_icons li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_icons i {
  color: var(--primary-color);
  font-size: 20px;
}

.terms {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  gap: 2rem;
  color: var(--white);
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

/* Responsiveness */

@media (max-width: 768px) {
  .header_links {
    display: none; /* Hide the navigation links on mobile */
  }

  .mobile_menu_icon {
    display: block; /* Show the icon on mobile */
  }

  .header_links.active {
    display: block; /* Show the navigation links when the menu is active */
  }
  .hero_container {
    flex-direction: column; /* Stack content vertically on mobile */
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem; /* Adjust padding for smaller screens */
  }

  .hero_details {
    padding: 2rem 1rem; /* Adjust padding for smaller screens */
  }

  .hero_img {
    width: 100%; /* Make sure the image doesn't exceed container width */
    margin-right: 0; /* Remove margin for smaller screens */
    margin-top: 1rem;
  }

  .hero_btn {
    padding: 0.8rem 3rem; /* Adjust padding for smaller screens */
    border-radius: 2rem; /* Adjust border radius for smaller screens */
    margin-top: 1.5rem; /* Add margin between image and button */
  }
  .featured {
    text-align: center;
    padding: 2rem 1rem; /* Adjust padding for smaller screens */
  }

  .featured_heading {
    margin: 1rem 0; /* Adjust margin for smaller screens */
  }

  .img_container {
    margin-top: 1rem; /* Add margin between heading and image */
  }

  .img_container img {
    width: 100%; /* Make sure the image doesn't exceed container width */
  }
  /* Styles for screens with width up to 768px (adjust as needed) */
  .about {
    text-align: center;
    padding: 2rem 1rem; /* Adjust padding for smaller screens */
  }

  .about_heading {
    margin-top: 2rem; /* Adjust margin for smaller screens */
  }

  .about_skills {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    font-weight: 600; /* Adjust font weight for smaller screens */
  }

  .about_img_container img {
    width: 100%; /* Make sure the image doesn't exceed container width */
    max-width: 100%; /* Adjust max-width for smaller screens */
    height: auto;
    margin-top: 1rem; /* Add margin between skills and image */
  }

  .about_description {
    padding: 1rem 1rem; /* Adjust padding for smaller screens */
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .social_icons {
    margin-top: 1rem; /* Add margin between description and social icons */
  }
  /* Styles for screens with width up to 768px (adjust as needed) */
  .services {
    text-align: center;
    padding: 2rem 1rem; /* Adjust padding for smaller screens */
  }

  .about_heading {
    margin-top: 2rem; /* Adjust margin for smaller screens */
  }

  .about_skills {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    font-weight: 600; /* Adjust font weight for smaller screens */
  }

  .btn_tab {
    padding: 0.75rem 4rem; /* Adjust button padding for smaller screens */
    font-size: 0.9rem; /* Adjust font size for smaller screens */
    margin-top: 1.5rem; /* Adjust margin for smaller screens */
  }
  /* Styles for screens with width up to 768px (adjust as needed) */
  .community {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .community_details {
    padding: 2rem;
  }

  .community_btn {
    display: none; /* Hide the button on mobile screens */
  }

  .community_img {
    width: 100%;
    margin-right: 0;
    margin-top: 2rem;
  }
  .courses {
    display: block; /* Change to block layout for single column */
    padding: 2rem 1rem;
  }

  .card {
    max-width: 100%; /* Take up full width of the container */
    margin-bottom: 1.25rem; /* Add spacing between cards */
  }
  .consultation {
    display: block; /* Change to block layout for single column */
    padding: 1rem 1rem;
  }

  .consultation_card {
    max-width: 100%; /* Take up full width of the container */
    margin-bottom: 1.25rem; /* Add spacing between cards */
  }
  .testimonial {
    flex-wrap: nowrap; /* Prevent wrapping on smaller screens */
    gap: 0; /* Remove gap between cards */
    overflow-x: scroll; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Snap to each card */
  }

  .testimonial_card {
    min-width: 100%; /* Ensure each card takes full width */
    margin-right: 1.5rem; /* Add spacing between cards */
    scroll-snap-align: start; /* Align to the start of each card */
  }

  .app_link {
    padding: 2rem 1rem;
  }

  .app_link h1 {
    font-size: 1rem; /* Adjust font size for subheading */
    margin-top: 2rem; /* Adjust margin */
  }

  .app_link img {
    max-height: 40vh;
  }

  .contact_top {
    padding-bottom: 2rem;
  }

  .contact_heading {
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .contact_subheading {
    font-size: 1.75rem;
  }

  .contact_all {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .contact_details {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .icon {
    margin-bottom: 1rem;
  }

  .icon i {
    font-size: 1.5rem;
  }

  .contact_info {
    text-align: center;
  }
  footer {
    padding: 2rem 1rem;
    gap: 1rem;
  }

  .footer_heading {
    font-size: 2rem;
  }

  .footer_icons {
    margin-top: 1rem;
  }

  .footer_icons ul {
    flex-direction: row;
    gap: 1rem;
  }

  .footer_icons li {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .terms {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}

/* Styles for screens with width up to 768px (adjust as needed) */
